<h1>listallarticles</h1>
<p>
<%= link_to "Createnewarticle", new_article_path %>
</p>
<table>
  <tr>
    <th>Title</th>
    <th>Discription</th>
  </tr>

  <% @articles.each do |article|%>
  <tr>
    <td><%= article.title %></td>
    <td><%= article.description %></td>
    <td><%= link_to "edit", edit_article_path(article) %> |</td>
    <td><%= link_to "show", article_path(article)  %> |</td>
    <td><%= link_to "destroy", article_path(article), method: :delete, data: {confirm: "AreUsure?"}  %></td>
  </tr>
  <% end %>
</table>